<!--

Purpose: This include file shows how to replace the GetAllowedRenderings processor
  for dynamic key placeholders

To use this with your own code replace the type with your own method and assembly names

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor patch:instead="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" 
                   type="DragoniaStudios.SC.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, DragoniaStudios.SC.Placeholders.Web" />
      </getPlaceholderRenderings>
    </pipelines>
  </sitecore>
</configuration>
